<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create form</title>
</head>
<body>
<div>
    <form th:action="@{/cake/create}" method="post" th:object="${cake}">

        <select th:field="*{name}">
            <option value="nhan nac">nạc</option>
            <option value="nhan do">đỗ</option>
            <option value="nhan mo">mỡ</option>
        </select>
        <br>
        <select th:filed="*{status}">
            <option value="Còn hàng">Còn hàng</option>
            <option value="Hết hàng">Hết hàng</option>
        </select>

        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>